{
  "openapi": "3.0.2",
  "info": {
    "title": "Service for namespace CatalogService",
    "description": "This service is located at [https://sap-presales-cloud--foundry--sap-presales-eu10-cwbbm5c13b819a32.cfapps.eu10.hana.ondemand.com/catalog/](https://sap-presales-cloud--foundry--sap-presales-eu10-cwbbm5c13b819a32.cfapps.eu10.hana.ondemand.com/catalog/)",
    "version": ""
  },
  "servers": [
    {
      "url": "https://sap-presales-cloud--foundry--sap-presales-eu10-cwbbm5c13b819a32.cfapps.eu10.hana.ondemand.com/catalog"
    }
  ],
  "tags": [
    {
      "name": "Fatura",
      "description": "Fatura"
    },
    {
      "name": "{i18n>InvoiceItems}",
      "description": "{i18n>InvoiceItems}"
    }
  ],
  "paths": {
    "/Invoice": {
      "get": {
        "summary": "Retrieve a list of invoice.",
        "tags": [
          "Fatura"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "invoiceNumber",
                  "invoiceNumber desc",
                  "senderName",
                  "senderName desc",
                  "poNumber",
                  "poNumber desc",
                  "grossAmount",
                  "grossAmount desc",
                  "invoiceDate",
                  "invoiceDate desc",
                  "senderAddress",
                  "senderAddress desc",
                  "invoiceContent",
                  "invoiceContent desc",
                  "invoiceContentType",
                  "invoiceContentType desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "invoiceNumber",
                  "senderName",
                  "poNumber",
                  "grossAmount",
                  "invoiceDate",
                  "senderAddress",
                  "invoiceContent",
                  "invoiceContentType"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "invoiceItems"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved invoice",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of Invoice",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogService.Invoice"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "summary": "Create a single invoice.",
        "tags": [
          "Fatura"
        ],
        "requestBody": {
          "description": "Fatura",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogService.Invoice-create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogService.Invoice"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Invoice({ID})": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieve a single invoice.",
        "tags": [
          "Fatura"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "invoiceNumber",
                  "senderName",
                  "poNumber",
                  "grossAmount",
                  "invoiceDate",
                  "senderAddress",
                  "invoiceContent",
                  "invoiceContentType"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "invoiceItems"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogService.Invoice"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "summary": "Change a single invoice.",
        "tags": [
          "Fatura"
        ],
        "requestBody": {
          "description": "Fatura",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogService.Invoice-update"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete a single invoice.",
        "tags": [
          "Fatura"
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Invoice({ID})/invoiceItems": {
      "parameters": [
        {
          "description": "key: ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieve a list of invoice items of a fatura.",
        "tags": [
          "Fatura",
          "{i18n>InvoiceItems}"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "invoice_ID",
                  "invoice_ID desc",
                  "itemNumber",
                  "itemNumber desc",
                  "itemDescription",
                  "itemDescription desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "invoice_ID",
                  "itemNumber",
                  "itemDescription"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "invoice"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved invoice items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of InvoiceItems",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogService.InvoiceItems"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "summary": "Create a single invoice item of a fatura.",
        "tags": [
          "Fatura",
          "{i18n>InvoiceItems}"
        ],
        "requestBody": {
          "description": "{i18n>InvoiceItems}",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogService.InvoiceItems-create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created invoice item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogService.InvoiceItems"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/InvoiceItems": {
      "get": {
        "summary": "Retrieve a list of invoice items.",
        "tags": [
          "{i18n>InvoiceItems}"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "ID desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "invoice_ID",
                  "invoice_ID desc",
                  "itemNumber",
                  "itemNumber desc",
                  "itemDescription",
                  "itemDescription desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "invoice_ID",
                  "itemNumber",
                  "itemDescription"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "invoice"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved invoice items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of InvoiceItems",
                  "properties": {
                    "@odata.count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogService.InvoiceItems"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "summary": "Create a single invoice item.",
        "tags": [
          "{i18n>InvoiceItems}"
        ],
        "requestBody": {
          "description": "{i18n>InvoiceItems}",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogService.InvoiceItems-create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created invoice item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogService.InvoiceItems"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/InvoiceItems({ID})": {
      "parameters": [
        {
          "description": "ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieve a single invoice item.",
        "tags": [
          "{i18n>InvoiceItems}"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "invoice_ID",
                  "itemNumber",
                  "itemDescription"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "invoice"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved invoice item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogService.InvoiceItems"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "summary": "Change a single invoice item.",
        "tags": [
          "{i18n>InvoiceItems}"
        ],
        "requestBody": {
          "description": "{i18n>InvoiceItems}",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogService.InvoiceItems-update"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete a single invoice item.",
        "tags": [
          "{i18n>InvoiceItems}"
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/InvoiceItems({ID})/invoice": {
      "parameters": [
        {
          "description": "ID",
          "in": "path",
          "name": "ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieve invoice of a {i18n> invoice items}.",
        "tags": [
          "{i18n>InvoiceItems}",
          "Fatura"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ID",
                  "createdAt",
                  "createdBy",
                  "modifiedAt",
                  "modifiedBy",
                  "invoiceNumber",
                  "senderName",
                  "poNumber",
                  "grossAmount",
                  "invoiceDate",
                  "senderAddress",
                  "invoiceContent",
                  "invoiceContentType"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "invoiceItems"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogService.Invoice"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/$batch": {
      "post": {
        "summary": "Send a group of requests",
        "description": "Group multiple requests into a single request payload, see [Batch Requests](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_BatchRequests).\n\n*Please note that \"Try it out\" is not supported for this request.*",
        "tags": [
          "Batch Requests"
        ],
        "requestBody": {
          "required": true,
          "description": "Batch request",
          "content": {
            "multipart/mixed;boundary=request-separator": {
              "schema": {
                "type": "string"
              },
              "example": "--request-separator\nContent-Type: application/http\nContent-Transfer-Encoding: binary\n\nGET Invoice HTTP/1.1\nAccept: application/json\n\n\n--request-separator--"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch response",
            "content": {
              "multipart/mixed": {
                "schema": {
                  "type": "string"
                },
                "example": "--response-separator\nContent-Type: application/http\n\nHTTP/1.1 200 OK\nContent-Type: application/json\n\n{...}\n--response-separator--"
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CatalogService.Invoice": {
        "title": "Invoice",
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2017-04-13T15:51:04.0000000Z",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "{i18n>UserID.Description}"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2017-04-13T15:51:04.0000000Z",
            "nullable": true
          },
          "modifiedBy": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "{i18n>UserID.Description}"
          },
          "invoiceNumber": {
            "type": "string",
            "nullable": true,
            "description": "Nr. Fatura"
          },
          "senderName": {
            "type": "string",
            "nullable": true,
            "description": "Remetente"
          },
          "poNumber": {
            "type": "string",
            "nullable": true,
            "description": "Nr. Pedido"
          },
          "grossAmount": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "Montante"
          },
          "invoiceDate": {
            "type": "string",
            "format": "date",
            "example": "2017-04-13",
            "nullable": true,
            "description": "Data Fatura"
          },
          "senderAddress": {
            "type": "string",
            "nullable": true,
            "description": "End. Remetente"
          },
          "invoiceContent": {
            "type": "string",
            "format": "base64url",
            "nullable": true,
            "description": "Anexo"
          },
          "invoiceContentType": {
            "type": "string",
            "nullable": true,
            "description": "Tipo Anexo"
          },
          "invoiceItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogService.InvoiceItems"
            },
            "description": "Itens"
          },
          "invoiceItems@odata.count": {
            "$ref": "#/components/schemas/count"
          }
        },
        "description": "Fatura"
      },
      "CatalogService.Invoice-create": {
        "title": "Invoice (for create)",
        "type": "object",
        "properties": {
          "invoiceNumber": {
            "type": "string",
            "nullable": true,
            "description": "Nr. Fatura"
          },
          "senderName": {
            "type": "string",
            "nullable": true,
            "description": "Remetente"
          },
          "poNumber": {
            "type": "string",
            "nullable": true,
            "description": "Nr. Pedido"
          },
          "grossAmount": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "Montante"
          },
          "invoiceDate": {
            "type": "string",
            "format": "date",
            "example": "2017-04-13",
            "nullable": true,
            "description": "Data Fatura"
          },
          "senderAddress": {
            "type": "string",
            "nullable": true,
            "description": "End. Remetente"
          },
          "invoiceContent": {
            "type": "string",
            "format": "base64url",
            "nullable": true,
            "description": "Anexo"
          },
          "invoiceContentType": {
            "type": "string",
            "nullable": true,
            "description": "Tipo Anexo"
          },
          "invoiceItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogService.InvoiceItems-create"
            },
            "description": "Itens"
          }
        },
        "description": "Fatura"
      },
      "CatalogService.Invoice-update": {
        "title": "Invoice (for update)",
        "type": "object",
        "properties": {
          "invoiceNumber": {
            "type": "string",
            "nullable": true,
            "description": "Nr. Fatura"
          },
          "senderName": {
            "type": "string",
            "nullable": true,
            "description": "Remetente"
          },
          "poNumber": {
            "type": "string",
            "nullable": true,
            "description": "Nr. Pedido"
          },
          "grossAmount": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "Montante"
          },
          "invoiceDate": {
            "type": "string",
            "format": "date",
            "example": "2017-04-13",
            "nullable": true,
            "description": "Data Fatura"
          },
          "senderAddress": {
            "type": "string",
            "nullable": true,
            "description": "End. Remetente"
          },
          "invoiceContent": {
            "type": "string",
            "format": "base64url",
            "nullable": true,
            "description": "Anexo"
          },
          "invoiceContentType": {
            "type": "string",
            "nullable": true,
            "description": "Tipo Anexo"
          }
        },
        "description": "Fatura"
      },
      "CatalogService.InvoiceItems": {
        "title": "InvoiceItems",
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef",
            "description": "ID"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2017-04-13T15:51:04.0000000Z",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "{i18n>UserID.Description}"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2017-04-13T15:51:04.0000000Z",
            "nullable": true
          },
          "modifiedBy": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "{i18n>UserID.Description}"
          },
          "invoice": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CatalogService.Invoice"
              }
            ],
            "description": "{i18n>invoice}"
          },
          "invoice_ID": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef",
            "description": "{i18n>invoice}"
          },
          "itemNumber": {
            "type": "string",
            "nullable": true,
            "description": "{i18n>itemNumber}"
          },
          "itemDescription": {
            "type": "string",
            "nullable": true,
            "description": "{i18n>itemDescription}"
          }
        },
        "description": "{i18n>InvoiceItems}"
      },
      "CatalogService.InvoiceItems-create": {
        "title": "InvoiceItems (for create)",
        "type": "object",
        "properties": {
          "invoice": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CatalogService.Invoice-create"
              }
            ],
            "description": "{i18n>invoice}"
          },
          "invoice_ID": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef",
            "description": "{i18n>invoice}"
          },
          "itemNumber": {
            "type": "string",
            "nullable": true,
            "description": "{i18n>itemNumber}"
          },
          "itemDescription": {
            "type": "string",
            "nullable": true,
            "description": "{i18n>itemDescription}"
          }
        },
        "description": "{i18n>InvoiceItems}"
      },
      "CatalogService.InvoiceItems-update": {
        "title": "InvoiceItems (for update)",
        "type": "object",
        "properties": {
          "invoice_ID": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef",
            "description": "{i18n>invoice}"
          },
          "itemNumber": {
            "type": "string",
            "nullable": true,
            "description": "{i18n>itemNumber}"
          },
          "itemDescription": {
            "type": "string",
            "nullable": true,
            "description": "{i18n>itemDescription}"
          }
        },
        "description": "{i18n>InvoiceItems}"
      },
      "count": {
        "anyOf": [
          {
            "type": "number"
          },
          {
            "type": "string"
          }
        ],
        "description": "The number of entities in the collection. Available when using the [$count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount) query option."
      },
      "error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "target": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "target": {
                      "type": "string"
                    }
                  }
                }
              },
              "innererror": {
                "type": "object",
                "description": "The structure of this object is service-specific"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "top": {
        "name": "$top",
        "in": "query",
        "description": "Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "example": 50
      },
      "skip": {
        "name": "$skip",
        "in": "query",
        "description": "Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "count": {
        "name": "$count",
        "in": "query",
        "description": "Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)",
        "schema": {
          "type": "boolean"
        }
      },
      "search": {
        "name": "$search",
        "in": "query",
        "description": "Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "error": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      }
    }
  }
}